.advantages {
  padding-top: 115px;
  padding-bottom: 30px;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 5px;
  }

  @include mobile {
    padding-top: 35px;
  }
}

.advantages__container {
  @include flex(row);

  @include mobile {
    justify-content: space-around;
  }
}

.advantages__item {
  display: block;
  flex-shrink: 1;
  width: 570px;
  min-height: 299px;
  margin-bottom: 35px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 45px;
  padding-right: 45px;
  color: $c_text;
  background-color: white;
  border: 1px solid $c_border;
  border-left: 3px solid $c_theme-main;

  @media (max-width: $desktop-max-width) {
    max-width: 48%;
  }

  @include tablet {
    min-width: 345px;
    max-width: 48%;
    min-height: 230px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 20px;
  }

  @include mobile {
    width: 290px;
    max-width: none;
    min-height: 230px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 23px;
    padding-right: 14px;
  }
}

.advantages__item p {
  @include tablet {
    margin-top: 0;
  }

  @include mobile {
    margin-top: 0;
  }
}

.advantages__item:hover {
  color: white;
  background-color: $c_theme-main;
  transition: 0.3s ease-in-out;
}

.advantages__item h3 {
  margin-top: 12px;
  margin-bottom: 12px;

  @include font-two(24px, 1.4, $reg);
  color: $c_theme-main;

  @include tablet {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  @include mobile {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.advantages__item:hover h3 {
  color: white;
}

.advantages__icon {
  fill: $c_theme-main;
}

.advantages__item:hover .advantages__icon {
  fill: white;
}
