.advantages {
  padding-top: 115px;
  padding-bottom: 30px;
}

.advantages__container {
  @include flex(row);

  @include mobile {
    justify-content: space-around;
  }
}

.advantages__item {
  display: block;
  flex-shrink: 1;
  width: 570px;
  min-height: 299px;
  margin-bottom: 35px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 45px;
  padding-right: 45px;
  color: $c_text;
  background-color: white;
  border: 1px solid $c_border;
  border-left: 3px solid $c_theme-main;

  @include tablet {
    width: 345px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @include mobile {
    width: 290px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.advantages__item:hover {
  color: white;
  background-color: $c_theme-main;
  transition: 0.3s ease-in-out;
}

.advantages__item h3 {
  margin-top: 12px;
  margin-bottom: 12px;

  @include font-two(24px, 1.4, $reg);
  color: $c_theme-main;
}

.advantages__item:hover h3 {
  color: white;
}

.advantages__icon {
  fill: $c_theme-main;
}

.advantages__item:hover .advantages__icon {
  fill: white;
}
