.advantages {
  min-height: 562px;
  padding-top: 90px;
  padding-bottom: 90px;

  @include bg-img("../img/bg-advantages@1x.jpg", "../img/bg-advantages@2x.jpg", $c_bg-light);

  @include tablet {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  @include mobile {
    padding-top: 38px;
    padding-bottom: 38px;
  }
}

.advantages__container {
  @include flex(row);
}

.advantages h2 {
  width: 100%;
  margin-bottom: 50px;

  @include section-title;

  @include mobile {
    margin-bottom: 30px;
  }
}

.advantages__item {
  display: block;
  width: 31%;
  padding-top: 60px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $c_ligt-one;

  @include tablet {
    padding-top: 53px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 15px;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 30px;
    padding-top: 53px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.advantages__item h3 {
  position: relative;
  margin-bottom: 10px;

  @include font(18px, 1.5, $med);

  @include tablet {
    display: block;
    min-height: 54px;
  }

  @include mobile {
    margin-bottom: 5px;
    padding-right: 50px;
  }
}

.advantages__item h3::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  display: block;
  width: 50px;
  height: 40px;
  background-repeat: no-repeat;
}

.advantages__item--ship h3::before {
  background-image: url("../img/icon-ship.svg");
  background-size: 27px 32px;
  background-position: 0 0;

  @include tablet {
    background-size: 21px 26px;
    background-position: 0 5px;
  }

  @include mobile {
    background-size: 21px 26px;
    background-position: 0 5px;
  }
}

.advantages__item--allinclusive h3::before {
  background-image: url("../img/icon-allinclusive.svg");
  background-size: 38px 21px;

  @include tablet {
    background-size: 33px 19px;
    background-position: 0 10px;
  }

  @include mobile {
    background-size: 33px 19px;
    background-position: 0 10px;
  }
}

.advantages__item--zodiac h3::before {
  background-image: url("../img/icon-zodiac.svg");
  background-size: 42px 15px;
  background-position: 0 10px;

  @include tablet {
    background-size: 38px 13px;
  }

  @include mobile {
    background-size: 38px 13px;
    background-position: 0 13px;
  }
}

.advantages__item p {
  margin-top: 0;

  @include font(14px, 1.4, $reg);

  .br-mobile-only {
    display: none;
  }

  @include tablet {
    line-height: 1.45;

    & br {
      display: none;
    }
  }

  @include mobile {
    line-height: 1.45;

    .br-mobile-only {
      display: inline;
    }

    .br-mobile-no-display {
      display: none;
    }
  }
}
