.bio__container {
  padding-top: 5px;
  padding-bottom: 105px;
  background-repeat: no-repeat;
  background-size: 230px 320px;
  background-position: 110px 40px;
  background-image: url("../img/bg-2005@1x.png");
  background-color: transparent;

  @include retina {
    background-image: url("../img/bg-2005@2x.png");
  }

  @include tablet {
    padding-top: 23px;
    padding-bottom: 80px;
    background-size: 250px 360px;
    background-position: -10px 20px;
  }

  @include mobile {
    padding-bottom: 60px;
    background: none;
  }
}

.bio__desktop-only {
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.bio h2 {
  margin-bottom: 20px;
  margin-left: 185px;

  @include font-two(36px, 1.4, $reg);

  @include tablet {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 32px;
  }

  @include mobile {
    font-size: 28px;
    margin-top: 5px;
    margin-left: 0;
  }
}

.bio p {
  margin-bottom: 25px;
  margin-left: 185px;

  @include tablet {
    margin-bottom: 21px;
  }

  @include mobile {
    margin-bottom: 43px;
    margin-left: 0;
  }

  &:last-of-type {
    @include tablet {
      margin-bottom: 27px;
    }

    @include mobile {
      margin-bottom: 28px;
    }
  }
}

.bio__btn {
  min-width: 180px;
  max-width: 300px;
  margin-top: 15px;
  margin-left: 185px;

  @include mobile {
    margin-top: 0;
    margin-left: 0;
  }
}
