.btn {
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $c_light-one;
  letter-spacing: -0.5px;

  @include font(14px, 1.5, $semi);
  text-align: center;
  color: $c_main;

  @include hover-effects;
}
