.catalog {
  padding-top: 90px;
  padding-bottom: 90px;
  scroll-behavior: inherit;

  @include tablet {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.catalog__container {
  @include flex(row);
  justify-content: space-around;
}

.catalog h2 {
  width: 100%;
  margin-bottom: 45px;

  @include section-title;

  @include tablet {
    margin-bottom: 55px;
  }

  @include mobile {
    margin-bottom: 30px;
  }
}

.catalog__item {
  width: 22.5%;
  min-width: 260px;
  margin-bottom: 30px;

  @include tablet {
    width: 45.5%;
    min-width: 309px;
  }

  @include mobile {
    width: 270px;
    margin-bottom: 29px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
