.copyright-block {
  position: relative;

  @include flex(row);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 13px;
  text-transform: uppercase;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  @include mobile {
    padding-top: 15px;
  }
}

.copyright-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -100vw;
  display: block;
  width: 200vw;
  height: 1px;
  background-color: $c_footer-line;
}

.copyright-block__wrapper {
  @include flex(row);
  justify-content: flex-start;
  max-width: 80%;

  @include mobile {
    display: block;
    max-width: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.copyright-block__rights {
  margin-right: 75px;
  letter-spacing: 0.5px;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.copyright-block__dates {
  margin-right: 140px;
  letter-spacing: 0.5px;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.copyright-block__terms {
  letter-spacing: -0.6px;

  @include tablet {
    margin: 0;
    font-size: 13px;
  }
}

.copyright-block__studio {
  text-align: right;
  letter-spacing: -0.5px;

  @include tablet {
    margin: 0;
    font-size: 10px;
  }

  @include mobile {
    margin-left: auto;
    margin-right: auto;
  }
}
