.footer-nav {
  margin-left: 40px;
  margin-right: auto;
  max-width: 70%;

  @include tablet {
    margin-left: 10px;
  }

  @include mobile {
    @include flex(column);
    justify-content: flex-start;
    align-items: flex-start;
    max-width: none;
    margin-top: 15px;
    margin-left: 0;
  }
}

.footer-nav__link {
  @include hover-effects;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  @include font(16px, 1.25, $med);
  color: $c_light-one;
  letter-spacing: 0.3px;

  @include tablet {
    @include font(12px, 1.25, $med);
    margin-left: 0;
    margin-right: 20px;
  }

  @include mobile {
    @include font(12px, 1.25, $med);
    margin-left: 0;
    padding-top: 8px;
    padding-bottom: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
}
