.navigation-block {
  margin-left: 7%;

  @include tablet {
    width: 49%;
    margin-left: 0;
    padding-top: 40px;
  }

  @include mobile {
    width: 100%;
    margin-left: 0;
  }
}

.navigation-block h2 {
  @include mobile {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 26px;
  }
}

.navigation-block__list {
  @include flex(row);
  width: 555px;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;

  @include tablet {
    margin-bottom: 0;
    padding-bottom: 35px;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 0;
  }
}

.navigation-block__list-item {
  width: 250px;
  margin-bottom: 6px;

  @media (min-width: 1024px) {
    &--companies {
      order: 1;
    }

    &--products {
      order: 3;
    }

    &--production {
      order: 5;
    }

    &--setup {
      order: 7;
    }

    &--parts {
      order: 2;
    }

    &--delivery {
      order: 4;
    }

    &--contacts {
      order: 6;
    }
  }

  @include tablet {
    width: 100%;
    margin-bottom: 5px;
  }

  @include mobile {
    width: 100%;
  }
}
