.promo {
  min-height: 650px;
  padding-top: 232px;
  padding-left: 95px;

  @include bg-img(
    "../img/bg-promo@1x.jpg",
    "../img/bg-promo@2x.jpg",
    $c_additional
  );

  @include tablet {
    min-height: 638px;
    padding-top: 235px;
    padding-left: 0;
  }

  @include mobile {
    min-height: 500px;
    padding-top: 150px;
    padding-left: 0;
  }
}

.main-nav--no-js + .promo {
  position: relative;
  min-height: 500px;
  padding-top: 100px;

  &::before {
    margin-left: -$mobile-pads;
    margin-right: 0;
  }
}

.promo h1 {
  margin-bottom: 13px;
  letter-spacing: -1.8px;

  @include font(54px, 1.22, $bold);
  color: $c_light-one;

  @include tablet {
    @include font(50px, 1.22, $bold);
    letter-spacing: -1.5px;
  }

  @include mobile {
    @include font(36px, 1.25, $bold);
    letter-spacing: -1px;
  }
}

.promo p {
  margin-top: 0;
  letter-spacing: 0.4px;

  @include font(20px, 1.2, $reg);
  color: $c_light-one;

  @include tablet {
    @include font(18px, 1.22, $reg);
  }

  @include mobile {
    @include font(16px, 1.4, $reg);
  }
}
