.promo {
  padding-top: 125px;
  padding-left: 95px;

  @include tablet {
    padding-top: 150px;
    padding-left: 0;
  }

  @include mobile {
    padding-top: 75px;
    padding-left: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100vw;
      min-height: 500px;
      background-color: red;
      z-index: -1;

      @include bg-img("../img/bg-promo@1x.jpg", "../img/bg-promo@2x.jpg", $c_additional);
    }
  }
}

.main-nav--no-js + .promo {
  position: relative;
  min-height: 500px;
  padding-top: 100px;

  &::before {
    margin-left: -$mobile-pads;
    margin-right: 0;
  }
}

.promo h1 {
  margin-bottom: 13px;

  @include font(54px, 1.22, $bold);
  color: $c_light-one;

  @include tablet {
    @include font(50px, 1.22, $bold);
  }

  @include mobile {
    @include font(36px, 1.25, $bold);
  }
}

.promo p {
  margin-top: 0;

  @include font(20px, 1.2, $reg);
  color: $c_light-one;

  @include tablet {
    @include font(18px, 1.22, $reg);
  }

  @include mobile {
    @include font(16px, 1.4, $reg);
  }
}
