.social {
  @include tablet {
    width: 25%;
    text-align: right;
  }
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  line-height: 1.5;

  @include tablet {
    margin-right: 0;
    margin-left: 3px;
  }

  @include hover-effect;
}
