.social {
  @include flex(row);
  max-width: 15%;

  @include tablet {
    justify-content: flex-end;
    max-width: none;
    width: 120px;
  }

  @include mobile {
    max-width: none;
    margin-top: 10px;
  }
}

.social__link {
  @include hover-effects;
  display: block;
  width: 25px;
  height: 30px;
  margin-left: 25px;
  background-position: 50%;
  background-repeat: no-repeat;

  @include tablet {
    margin-left: 10px;
  }

  @include mobile {
    width: 15px;
    margin-left: 0;
    margin-right: 19px;
  }

  &:first-child {
    margin-rileftght: 0;
  }
}

.social__link--fb {
  background-image: url("../img/icon-facebook.svg");
  background-size: 11px 20px;

  @include tablet {
    background-size: 9px 16px;
  }

  @include mobile {
    background-size: 9px 16px;
  }
}

.social__link--ig {
  background-image: url("../img/icon-insta.svg");
  background-size: 20px 20px;

  @include tablet {
    background-size: 16px 16px;
  }

  @include mobile {
    background-size: 16px 16px;
  }
}

.social__link--tw {
  background-image: url("../img/icon-twitter.svg");
  background-size: 20px 16px;

  @include tablet {
    background-size: 16px 13px;
  }

  @include mobile {
    background-size: 16px 13px;
  }
}
