@font-face {
  font-family: "PT Mono", serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Mono"),
    local("PT-Mono"),
    url("../fonts/pt-mono-regular.woff2") format("woff2"),
    url("../fonts/pt-mono-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Condensed Regular"),
    local("Roboto-Condensed-Regular"),
    url("../fonts/roboto-condensed-regular-400.woff2") format("woff2"),
    url("../fonts/roboto-condensed-regular-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Condensed Bold"),
    local("Roboto-Condensed-Bold"),
    url("../fonts/roboto-condensed-bold-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-bold-700.woff") format("woff");
}
