@mixin tablet {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 0) and (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin font($size, $height, $weight) {
  font-family: $font-main;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin section-title {
  @include font(28px, 1.5, $semi);
  text-align: center;
  letter-spacing: -1.5px;

  @include tablet {
    @include font(26px, 1.4, $semi);
    text-align: center;
    letter-spacing: -1px;
  }

  @include mobile {
    @include font(24px, 1.4, $semi);
    text-align: center;
    letter-spacing: -1px;
  }
}

@mixin hover-effects {
  transition: 0.3s;
  transition-timing-function: ease-in;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@mixin section-title-bigger {
  @include font(40px, 1.5, $bold);
  letter-spacing: -1.5px;

  @include tablet {
    @include font(34px, 1.5, $bold);
    text-align: center;
  }

  @include mobile {
    @include font(24px, 1.3, $bold);
    text-align: center;
    letter-spacing: -0.1px;
  }
}

@mixin container {
  position: relative;
  width: auto;
  min-width: $desktop-min-width;
  max-width: $desktop-max-width;
  margin: 0 auto;
  padding: 0 $desktop-pads;

  @include tablet {
    min-width: $tablet-min-width;
    width: auto;
    padding: 0 $tablet-pads;
  }

  @include mobile {
    min-width: $mobile-min-width;
    width: 100%;
    padding: 0 $mobile-pads;
  }
}

@mixin flex($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin bg-img($url, $retina-url, $fallback-color) {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url($url);
  background-color: $fallback-color;

  @include retina {
    background-image: url($retina-url);
  }
}
