@mixin tablet {
  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 0) and (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin font-one($size, $height) {
  font-family: $font-first;
  font-size: $size;
  line-height: $height;
  font-weight: $reg;
}

@mixin font-two($size, $height, $weight) {
  font-family: $font-second;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin container {
  position: relative;
  width: auto;
  min-width: $desktop-min-width;
  max-width: $desktop-max-width;
  margin: 0 auto;
  padding: 0 $desktop-pads;

  &--narrow-pads {
    padding: 0 $desktop-pads-narrow;
  }

  @include tablet {
    min-width: $tablet-min-width;
    width: auto;
    padding: 0 $tablet-pads;
    overflow-x: hidden;
  }

  @include mobile {
    min-width: $mobile-min-width;
    width: 100%;
    padding: 0 $mobile-pads;
    overflow-x: hidden;
  }
}

@mixin flex($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

@mixin accordion-button-plus {
  @include mobile {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 30px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 36px;
      right: 0;
      display: block;
      width: 20px;
      height: 2px;
      background-color: $c_footer-line;
      transition: 0.3s ease-in-out;
    }

    &::after {
      transform: rotate(90deg);
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        opacity: 0.6;
      }
    }
  }
}

@mixin accordion-button-minus {
  @include mobile {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 30px;
    transition: 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 36px;
      right: 0;
      display: block;
      width: 20px;
      height: 2px;
      background-color: $c_footer-line;
    }

    &::after {
      transform: rotate(90deg);
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        opacity: 0.6;
      }
    }
  }
}

@mixin hover-effect {
  &:hover,
  &:focus {
    opacity: 0.6;
    transition: 0.3s ease-in-out;
    outline: 0 none;
  }

  &:active {
    opacity: 0.3;
    transition: 0.3s ease-in-out;
  }
}
