$font-first: "PT Mono", "Times New Roman", serif;
$font-second: "Roboto Condensed", "Arial", sans-serif;
$reg: 400;
$bold: 700;

$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$desktop-min-width: 1024px;
$desktop-max-width: 1450px;
$mobile-pads: 15px;
$tablet-pads: 25px;
$desktop-pads: 138px;
$desktop-pads-narrow: 20px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$c_theme-main: #00b2ff;
$c_hover: #0665ab;
$c_border: #ebebeb;
$c_text: #666666;
$c_bg: #1b2d37;
$c_footer-heading: #1b2d37;
$c_footer-text: #cdcdcd;
$c_footer-line: #626962;
