@import "../sass/global/normalize.scss";
@import "../sass/global/fonts.scss";
@import "../sass/global/variables.scss";
@import "../sass/global/mixins.scss";
@import "../sass/global/global.scss";
@import "../sass/global/container.scss";
@import "../sass/global/visually-hidden.scss";
@import "../sass/blocks/page-header.scss";
@import "../sass/blocks/main-nav.scss";
@import "../sass/blocks/page-footer.scss";
@import "../sass/blocks/footer-nav.scss";
@import "../sass/blocks/social.scss";
@import "../sass/blocks/btn.scss";
@import "../sass/blocks/promo.scss";
@import "../sass/blocks/trip.scss";
@import "../sass/blocks/advantages.scss";
@import "../sass/blocks/catalog.scss";
@import "../sass/blocks/card.scss";
/*@import "../sass/blocks/booking.scss";*/
/*@import "../sass/blocks/form.scss";*/
/*@import "../sass/blocks/contacts.scss";*/
